@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

body,
.App {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: url(./components/images/bg-intro-mobile.png) var(--Red);
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1,
p,
form {
  padding: 10px 25px 10px 25px;
  margin: 0px;
}

h1,
p {
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-weight: 600;
  font-size: 26px;
  padding-top: 80px;
}

p {
  font-size: 16px;
}

.banner,
.sign-in {
  border-radius: 10px;
  box-shadow: 0px 8px rgba(0, 0, 0, 0.2);
}

.banner {
  background-color: var(--Blue);
  margin: 50px 25px 20px 25px;
  padding: 20px 50px 10px 50px;
  height: 60px;
}

.sign-in {
  height: 440px;
  background-color: white;
  margin: 10px 25px 60px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
.terms {
  margin: 10px 0px 10px 0px;
  padding: 0px;
}

input {
  height: 55px;
  width: 280px;
  border: 0.2px solid rgb(168, 166, 166);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(107, 105, 105);
  text-indent: 20px;
}

input::placeholder {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  vertical-align: middle;
}

input:focus {
  outline: none;
  border: 1px solid var(--Dark-Blue);
  caret-color: var(--Blue);
}

.submit {
  background-color: var(--Green);
  color: white;
  font-weight: 500;
  box-shadow: 0px 4px hsl(154, 58%, 43%);
  cursor: pointer;
}

.submit:focus {
  outline: none;
  border: none;
}

.submit:hover {
  background-color: hsl(154, 70%, 66%);
  box-shadow: 0px 4px var(--Green);
}

.terms {
  color: var(--Grayish-Blue);
  font-size: 10px;
  width: 220px;
}

.terms strong {
  color: var(--Red);
}

.error {
  background: url(./components/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 45%;
  border: 2px solid var(--Red);
  margin-bottom: 0;
}

.error-email {
  color: var(--Red);
}

.warning {
  margin: 0;
  padding: 0;
  width: 280px;
  color: var(--Red);
  font-size: 10px;
  text-align: right;
  font-style: italic;
}

@media screen and (min-width: 500px) {
  body,
  .App {
    background: url(./components/images/bg-intro-desktop.png) var(--Red);
  }

  .main {
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
    height: 620px;
    width: 1160px;
    position: absolute;
    left: 140px;
    top: 100px;
  }

  h1,
  p,
  .banner,
  .sign-in {
    width: 500px;
    margin: 0px 20px 0px 20px;
    padding: 0;
  }

  h1 {
    margin-top: 190px;
    margin-bottom: 10px;
    font-size: 50px;
    text-align: left;
    line-height: 50px;
  }

  p {
    text-align: left;
    margin-bottom: 190px;
  }

  .banner {
    margin-bottom: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner,
  .sign-in {
    width: 550px;
  }

  .sign-in {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  input {
    width: 450px;
    height: 60px;
  }

  #fname {
    margin-top: 40px;
  }

  .terms {
    width: 450px;
    text-align: center;
    margin-bottom: 40px;
  }

  .warning {
    width: 450px;
  }
}
